In [5]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [8]:
# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

In [10]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(students_complete.csv)

NameError: name 'schools_complete' is not defined

In [ ]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

In [8]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [9]:
student_count = len(school_data_complete["Student ID"].unique())
student_count

39170

In [10]:
# Calculate the total budget
total_budget = sum(school_data_complete["budget"].unique())
total_budget

24649428

In [11]:
# Calculate the average (mean) math score
average_math_score = (sum(school_data_complete["math_score"].unique()))/(len(school_data_complete["math_score"].unique()))
average_math_score

77.0

In [12]:
# Calculate the average (mean) reading score
average_reading_score = (sum(school_data_complete["reading_score"].unique()))/(len(school_data_complete["reading_score"].unique()))
average_reading_score

81.0

In [13]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [14]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [15]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [16]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
metrics = [school_count, student_count, total_budget, average_math_score, average_reading_score, passing_math_percentage, passing_reading_percentage]
metric_names = ["School Count", "Total Students", "Total Budget", "Avg Math Score", "Avg Reading Score", "Passing Math Percent", "Passing Reading Percent"]

metrics_dict = {"School Count": [school_count], "Total Students": [student_count], "Total Budget": [total_budget], "Avg Math Score": [average_math_score], "Avg Reading Score": [average_reading_score], "Passing Math Percent": [passing_math_percentage], "Passing Reading Percent": [passing_reading_percentage]}

district_summary = pd.DataFrame(metrics_dict)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,School Count,Total Students,Total Budget,Avg Math Score,Avg Reading Score,Passing Math Percent,Passing Reading Percent
0,15,"39,170","$24,649,428.00",77.0,81.0,74.980853,85.805463

In [28]:
# Use the code provided to select all of the school types
school_types = school_data_complete["type"].unique()
school_types

array(['District', 'Charter'], dtype=object)

In [64]:
# Calculate the total student count per school
per_school_counts = school_data_complete.groupby('school_name')['size'].sum()
per_school_counts

school_name
Bailey High School       24760576
Cabrera High School       3452164
Figueroa High School      8696601
Ford High School          7502121
Griffin High School       2155024
Hernandez High School    21483225
Holden High School         182329
Huang High School         8508889
Johnson High School      22667121
Pena High School           925444
Rodriguez High School    15992001
Shelton High School       3101121
Thomas High School        2673225
Wilson High School        5212089
Wright High School        3240000
Name: size, dtype: int64

In [66]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data_complete.groupby('school_name')['budget'].sum()
per_school_capita = per_school_budget/per_school_counts

per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [68]:
# Calculate the average test scores per school
per_school_math = school_data_complete.groupby('school_name')['math_score'].mean()
per_school_reading = school_data_complete.groupby('school_name')['reading_score'].mean()
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [75]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete['math_score'] >= 70
school_students_passing_math = school_data_complete.loc[school_data_complete['math_score'] >= 70, :]

In [76]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete['reading_score'] >= 70
school_students_passing_reading = school_data_complete.loc[school_data_complete['reading_score'] >= 70, :]

In [77]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [78]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [88]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame([overall_passing_rate, per_school_passing_reading,per_school_passing_math], columns = ["Overall Passing Rate", "Passing Reading", "Passing Math"])

# Formatting
#per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
#per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary.head()

AttributeError: 'DataFrame' object has no attribute 'dtype'